/* LaunchFacilities.css */
.launch-facilities-container {
    width: 26rem;
    height: 28.5rem;
    margin-top: 1rem;
    margin-left: 1.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /* background-color: #00000080; */
    border-radius: 1.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .launch-facilities-title {
    font-weight: 700; /* xl:font-bold */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #ffffff;
    font-size: 1.25rem; /* xl:text-xl */
  }
  
  .facilities-list {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* gap-8 */
  }
  
  .toggle-button {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .toggle-button img {
    width: 1.5rem; /* w-6 */
    height: 1.75rem; /* h-7 */
    margin-top: 0;
  }
  
  .toggle-button p {
    color: #ffffff;
    font-size: 1.125rem; /* text-lg */
    font-weight: 600; /* font-semibold */
    margin-left: 0.25rem;
    margin-top: 0;
  }
  
  /* Responsive styles */
  @media (max-width: 1280px) {
    .launch-facilities-container {
      width: 20rem;
      height: 26rem;
    }
  
    .launch-facilities-title {
      /* font-weight: 600;
      font-size: 1.125rem; */
    }
  }
  
  @media (max-width: 1024px) {
    .launch-facilities-container {
      width: 21.5rem;
      height: 28rem;
    }
  
    .toggle-button img,
    .toggle-button p {
      margin-top: 0.25rem;
    }
  }

 /* Base Styles */
.button-container {
  display: flex; /* flex */
  align-items: center;
  background: transparent;
  padding: 1rem 0rem; /* Add padding for button borders */
  border-radius: 4px; /* Add rounded corners */
  cursor: pointer; /* Add a cursor pointer */
  border: 0;
  color: #fff;
}

.button-container img {
  width: 1rem; /* Reduce image size */
  height: 1rem;
  margin-right: 0.5rem; /* Add margin between image and text */
}

.button-text {
  font-size: 1.125rem; /* Adjust font size */
  font-weight: 700; /* Reduce font weight */
}

/* Media Queries */

/* Extra large screens */
@media (min-width: 1280px) {
  .button-container img,
  .button-text {
    margin-top: 0; /* xl:mt-0 */
  }
}

/* Large screens */
@media (min-width: 1024px) and (max-width: 1279px) {
  .button-container img,
  .button-text {
    margin-top: 0; /* lg:mt-0 */
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .button-container img,
  .button-text {
    margin-top: 0.25rem; /* md:mt-1 */
  }
}