.launch-facilities-container {
  width: 26rem;
  height: 28.5rem;
  margin-top: 1rem;
  margin-left: 1.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.launch-facilities-title {
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #ffffff;
  font-size: 1.25rem;
}

.facilities-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.toggle-button {
  display: flex;
  margin-top: 0.5rem;
}

.toggle-button img {
  width: 1.5rem;
  height: 1.75rem;
  margin-top: 0;
}

.toggle-button p {
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 600;
  margin-left: 0.25rem;
  margin-top: 0;
}

.button-container {
  display: flex;
  align-items: center;
  background: transparent;
  padding: 1rem 0rem;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  color: #fff;
}

.button-container img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.button-text {
  font-size: 1.125rem;
  font-weight: 700;
}

/* Media Queries */

/* Extra large screens */
@media (min-width: 1280px) {
  .button-container img,
  .button-text {
    margin-top: 0;
  }
}

/* Large screens */
@media (min-width: 1024px) and (max-width: 1279px) {
  .button-container img,
  .button-text {
    margin-top: 0;
  }
  .launch-facilities-container {
    width: 20rem;
    height: 26rem;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .button-container img,
  .button-text {
    margin-top: 0.25rem;
  }

  .launch-facilities-container {
    width: 21.5rem;
    height: 28rem;
  }

  .toggle-button img,
  .toggle-button p {
    margin-top: 0.25rem;
  }
}
