.upcoming-launch-container {
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.upcoming-launch-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.upcoming-launch-wrapper-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.upcoming-launch-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: -1rem;
}

.launch-detail {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.launch-label,
.launch-logo-label {
  font-weight: 600;
  font-size: 13px;
  color: #a0a0a0;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 1px;
}

.launch-logo-label {
  margin-bottom: 5px;
}

.launch-value {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.launch-card-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(63, 63, 63, 0.38);
  border-radius: 1rem;
}

.launch-card-logo-container img {
  width: 6rem;
}

.loader {
  margin: auto;
  margin-top: 10vh;
}

.upcoming-launch-links {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.launch-link i {
  font-size: 20px;
  color: #fff;
}

.links-section p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
}

.links-container {
  display: flex;
  margin-left: 0.25rem;
}

.link-icon,
.link-placeholder {
  display: flex;
  background-color: white;
  border-radius: 50%;
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.link-icon img,
.link-placeholder img {
  padding: 0.1rem;
}

.link-placeholder {
  cursor: not-allowed;
  opacity: 0.25;
}

/* Extra large screens */
@media (min-width: 1280px) {
  .launch-card-logo-container {
    height: 8.125rem;
    width: 8.125rem;
  }
  .launch-card-logo-container img {
    width: 5rem;
  }

  .links-section p {
    font-weight: 500;
  }

  .link-icon,
  .link-placeholder {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/* Large screens */
@media (min-width: 1024px) and (max-width: 1279px) {
  .launch-card-logo-container {
    height: 6rem;
    width: 6rem;
  }
  .launch-card-logo-container img {
    width: 4.5rem;
  }
  .launch-detail {
    margin-right: 0;
  }
  .link-icon,
  .link-placeholder {
    width: 1.25rem;
    height: 1.25rem;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .launch-card-logo-container {
    height: 6rem;
    width: 6rem;
  }
  .launch-card-logo-container img {
    width: 5rem;
  }
  .launch-detail {
    margin-right: 0;
  }
  .link-icon,
  .link-placeholder {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/* Small screens */
@media (max-width: 767px) {
  .launch-detail {
    margin-right: 0;
  }
}
